<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ascender</key>
	<integer>1080</integer>
	<key>capHeight</key>
	<integer>646</integer>
	<key>descender</key>
	<integer>-435</integer>
	<key>familyName</key>
	<string>Kalam</string>
	<key>openTypeHeadCreated</key>
	<string>2014/11/17 12:30:40</string>
	<key>openTypeNameDesigner</key>
	<string>Lipi Raval (Devanagari and Latin), Jonny Pinhorn (Latin)</string>
	<key>openTypeNameManufacturer</key>
	<string>Indian Type Foundry</string>
	<key>openTypeNamePreferredFamilyName</key>
	<string>Kalam</string>
	<key>openTypeNamePreferredSubfamilyName</key>
	<string>Regular</string>
	<key>openTypeOS2Type</key>
	<array>
		<integer>2</integer>
	</array>
	<key>openTypeOS2VendorID</key>
	<string>ITFO</string>
	<key>openTypeOS2WeightClass</key>
	<integer>400</integer>
	<key>openTypeOS2WidthClass</key>
	<integer>5</integer>
	<key>postscriptBlueValues</key>
	<array>
	</array>
	<key>postscriptOtherBlues</key>
	<array>
	</array>
	<key>styleMapStyleName</key>
	<string>regular</string>
	<key>styleName</key>
	<string>Regular</string>
	<key>unitsPerEm</key>
	<integer>1000</integer>
	<key>versionMajor</key>
	<integer>1</integer>
	<key>versionMinor</key>
	<integer>0</integer>
	<key>xHeight</key>
	<integer>596</integer>
</dict>
</plist>
