<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<dict>
		<key>S</key>
		<integer>-20</integer>
		<key>T</key>
		<integer>-20</integer>
		<key>V</key>
		<integer>-70</integer>
		<key>W</key>
		<integer>-30</integer>
		<key>Y</key>
		<integer>-40</integer>
		<key>Z</key>
		<integer>-30</integer>
	</dict>
	<key>C</key>
	<dict>
		<key>T</key>
		<integer>-10</integer>
	</dict>
	<key>E</key>
	<dict>
		<key>R</key>
		<integer>10</integer>
		<key>V</key>
		<integer>30</integer>
	</dict>
	<key>F</key>
	<dict>
		<key>S</key>
		<integer>-30</integer>
		<key>V</key>
		<integer>40</integer>
		<key>Y</key>
		<integer>30</integer>
	</dict>
	<key>I</key>
	<dict>
		<key>O</key>
		<integer>20</integer>
	</dict>
	<key>J</key>
	<dict>
		<key>V</key>
		<integer>50</integer>
	</dict>
	<key>K</key>
	<dict>
		<key>C</key>
		<integer>-30</integer>
		<key>D</key>
		<integer>-20</integer>
		<key>E</key>
		<integer>-10</integer>
		<key>F</key>
		<integer>-10</integer>
		<key>G</key>
		<integer>-30</integer>
		<key>H</key>
		<integer>-40</integer>
		<key>O</key>
		<integer>-60</integer>
		<key>Q</key>
		<integer>-70</integer>
		<key>S</key>
		<integer>-30</integer>
		<key>Y</key>
		<integer>-20</integer>
		<key>Z</key>
		<integer>-30</integer>
	</dict>
	<key>L</key>
	<dict>
		<key>V</key>
		<integer>-50</integer>
		<key>Y</key>
		<integer>-60</integer>
	</dict>
	<key>P</key>
	<dict>
		<key>Y</key>
		<integer>10</integer>
	</dict>
	<key>Q</key>
	<dict>
		<key>P</key>
		<integer>10</integer>
		<key>X</key>
		<integer>-10</integer>
	</dict>
	<key>R</key>
	<dict>
		<key>B</key>
		<integer>20</integer>
	</dict>
	<key>S</key>
	<dict>
		<key>O</key>
		<integer>20</integer>
	</dict>
	<key>T</key>
	<dict>
		<key>R</key>
		<integer>40</integer>
		<key>T</key>
		<integer>50</integer>
		<key>V</key>
		<integer>40</integer>
		<key>X</key>
		<integer>30</integer>
		<key>Y</key>
		<integer>30</integer>
		<key>periodcentered</key>
		<integer>-120</integer>
	</dict>
	<key>U</key>
	<dict>
		<key>P</key>
		<integer>10</integer>
	</dict>
	<key>V</key>
	<dict>
		<key>B</key>
		<integer>20</integer>
		<key>E</key>
		<integer>60</integer>
		<key>F</key>
		<integer>30</integer>
		<key>P</key>
		<integer>20</integer>
		<key>R</key>
		<integer>30</integer>
		<key>T</key>
		<integer>60</integer>
		<key>U</key>
		<integer>20</integer>
		<key>V</key>
		<integer>70</integer>
		<key>W</key>
		<integer>30</integer>
		<key>X</key>
		<integer>30</integer>
		<key>Y</key>
		<integer>50</integer>
		<key>Z</key>
		<integer>30</integer>
	</dict>
	<key>W</key>
	<dict>
		<key>Y</key>
		<integer>-50</integer>
	</dict>
	<key>X</key>
	<dict>
		<key>T</key>
		<integer>30</integer>
		<key>V</key>
		<integer>40</integer>
		<key>Y</key>
		<integer>20</integer>
		<key>Z</key>
		<integer>30</integer>
	</dict>
	<key>Y</key>
	<dict>
		<key>P</key>
		<integer>30</integer>
		<key>R</key>
		<integer>10</integer>
		<key>T</key>
		<integer>40</integer>
		<key>V</key>
		<integer>40</integer>
		<key>X</key>
		<integer>30</integer>
		<key>Y</key>
		<integer>20</integer>
	</dict>
	<key>Z</key>
	<dict>
		<key>A</key>
		<integer>-20</integer>
		<key>T</key>
		<integer>-50</integer>
		<key>U</key>
		<integer>-30</integer>
		<key>V</key>
		<integer>-50</integer>
		<key>Y</key>
		<integer>-30</integer>
		<key>Z</key>
		<integer>-30</integer>
	</dict>
	<key>c</key>
	<dict>
		<key>k</key>
		<integer>-30</integer>
		<key>o</key>
		<integer>-20</integer>
		<key>v</key>
		<integer>-20</integer>
	</dict>
	<key>dvTTA</key>
	<dict>
		<key>dvmAU</key>
		<integer>-7</integer>
	</dict>
	<key>f</key>
	<dict>
		<key>t</key>
		<integer>60</integer>
		<key>v</key>
		<integer>50</integer>
		<key>w</key>
		<integer>50</integer>
	</dict>
	<key>g</key>
	<dict>
		<key>j</key>
		<integer>10</integer>
	</dict>
	<key>j</key>
	<dict>
		<key>j</key>
		<integer>5</integer>
		<key>v</key>
		<integer>20</integer>
	</dict>
	<key>k</key>
	<dict>
		<key>j</key>
		<integer>30</integer>
		<key>p</key>
		<integer>30</integer>
		<key>t</key>
		<integer>50</integer>
		<key>v</key>
		<integer>30</integer>
		<key>w</key>
		<integer>30</integer>
		<key>x</key>
		<integer>30</integer>
		<key>y</key>
		<integer>20</integer>
		<key>z</key>
		<integer>40</integer>
	</dict>
	<key>p</key>
	<dict>
		<key>a</key>
		<integer>-20</integer>
		<key>k</key>
		<integer>-10</integer>
	</dict>
	<key>q</key>
	<dict>
		<key>g</key>
		<integer>30</integer>
		<key>j</key>
		<integer>50</integer>
		<key>p</key>
		<integer>40</integer>
		<key>y</key>
		<integer>20</integer>
	</dict>
	<key>r</key>
	<dict>
		<key>q</key>
		<integer>-40</integer>
		<key>s</key>
		<integer>-30</integer>
		<key>t</key>
		<integer>30</integer>
		<key>v</key>
		<integer>40</integer>
		<key>w</key>
		<integer>40</integer>
		<key>x</key>
		<integer>20</integer>
		<key>y</key>
		<integer>-20</integer>
	</dict>
	<key>s</key>
	<dict>
		<key>x</key>
		<integer>10</integer>
		<key>z</key>
		<integer>20</integer>
	</dict>
	<key>t</key>
	<dict>
		<key>t</key>
		<integer>20</integer>
		<key>v</key>
		<integer>30</integer>
		<key>x</key>
		<integer>-10</integer>
		<key>y</key>
		<integer>-20</integer>
		<key>z</key>
		<integer>10</integer>
	</dict>
	<key>u</key>
	<dict>
		<key>u</key>
		<integer>20</integer>
		<key>v</key>
		<integer>30</integer>
		<key>y</key>
		<integer>20</integer>
	</dict>
	<key>v</key>
	<dict>
		<key>e</key>
		<integer>10</integer>
		<key>t</key>
		<integer>40</integer>
		<key>v</key>
		<integer>50</integer>
		<key>w</key>
		<integer>30</integer>
		<key>x</key>
		<integer>20</integer>
	</dict>
	<key>w</key>
	<dict>
		<key>r</key>
		<integer>20</integer>
		<key>t</key>
		<integer>30</integer>
		<key>v</key>
		<integer>10</integer>
	</dict>
	<key>x</key>
	<dict>
		<key>t</key>
		<integer>40</integer>
		<key>v</key>
		<integer>20</integer>
	</dict>
	<key>y</key>
	<dict>
		<key>j</key>
		<integer>20</integer>
		<key>v</key>
		<integer>20</integer>
	</dict>
</dict>
</plist>
